<div class="jumbotron">
	<h1> Configuraciones </h1>
</div>
<br>
<div class="row">
	<div class="btn-group btn-group-lg col-md-offset-2 col-md-8">
		<button class="btn btn-info col-md-6" onclick="location.href='#/configuraciones/parametros'">Parametro de alerta</button>
		<button class="btn btn-primary col-md-6" onclick="location.href='#/configuraciones/ticket'">Activar ticket</button>
	</div>
	<!-- <ul class="">
		<li class="configuracion"><a class="sindeco" href="#/configuraciones/parametros">Parametros de alerta</a></li>
		<li class="configuracion"><a class="sindeco" href="#/configuraciones/ticket">Ticket</a></li>
	<ul> -->
</div>
